<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>submit</servlet-name>
        <servlet-class>servlets.submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mainpage</servlet-name>
        <servlet-class>servlets.Mainpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAcc</servlet-name>
        <servlet-class>servlets.CreateAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regions</servlet-name>
        <servlet-class>servlets.Regions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sights</servlet-name>
        <servlet-class>servlets.Sights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Camp</servlet-name>
        <servlet-class>servlets.Camp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionInfo</servlet-name>
        <servlet-class>servlets.RegionInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SightsInReg</servlet-name>
        <servlet-class>servlets.SightsInReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsInReg</servlet-name>
        <servlet-class>servlets.EventsInReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Writer</servlet-name>
        <servlet-class>servlets.Writer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentsLoader</servlet-name>
        <servlet-class>servlets.CommentsLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentsShow</servlet-name>
        <servlet-class>servlets.CommentsShow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submit</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mainpage</servlet-name>
        <url-pattern>/Mainpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAcc</servlet-name>
        <url-pattern>/CreateAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regions</servlet-name>
        <url-pattern>/Regions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sights</servlet-name>
        <url-pattern>/Sights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Camp</servlet-name>
        <url-pattern>/Camp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionInfo</servlet-name>
        <url-pattern>/RegionInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SightsInReg</servlet-name>
        <url-pattern>/SightsInReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsInReg</servlet-name>
        <url-pattern>/EventsInReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Writer</servlet-name>
        <url-pattern>/Writer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentsLoader</servlet-name>
        <url-pattern>/CommentsLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentsShow</servlet-name>
        <url-pattern>/CommentsShow</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
